body {
    background-color: #66bb6a; /* Minecraft grass color */
    font-family: 'Minecraftia', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
}
h1 {
    color: #fff;
    margin-bottom: 20px;
}
.checklist {
    list-style: none;
    padding: 0;
}
.checklist li {
    margin: 10px 0;
}
.checklist label {
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
}
.checklist input[type="checkbox"] {
    margin-right: 10px;
}
.checklist span {
    margin-right: 10px;
}
.checklist .item-image {
    width: 32px;
    height: 32px;
    display: none;
}
.checklist input[type="checkbox"]:checked + span + .item-image {
    display: inline-block;
}
